---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -readability-magic-numbers,
  -fuchsia-*,
  -hicpp-*

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file

# C++ standard
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-identifier-naming.VariableCase
    value: camelBack